/*************************************************/
/*********************TABLE***********************/
/*************************************************/

.table {
  background-color: aqua;
  width: fit-content;
}

.b3 {
  display: flex;
}

.mod {
  background-color: rgb(255, 166, 0);
  display: flex;
  justify-content: center;
  margin-inline: 5px;
  margin-top: 20px;
  /* padding: 0px; */
}

.row {
  background-color: rgb(83, 130, 192);
  display: flex;
  justify-content: center;
  width: fit-content;
  /* margin: 0px; */
  /* padding: 0px; */
}

.col {
  background-color: blueviolet;
  text-align: center;
  width: 257px;
  margin: 5px;
}

.tense {
  background-color: aquamarine;
}

.imp_inf {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/***************************************************/
/*********************SOCIALS***********************/
/***************************************************/

.socials {
  /* background-color: azure; */
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin: 0;
  min-width: 320px;
  height: 25px;
  align-items: center;
}

.socials a {
  text-decoration: none;
  display: flex;
}

/***************************************************/
/*********************FOOTER************************/
/***************************************************/

.footer {
  /* background-color: aquamarine; */
  margin-bottom: 50px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  height: 25px;
}
