:root, html, body {
  --color-fill-light: rgb(255, 255, 255);
  --color-text-base-light: rgb(39, 39, 39);
  --color-subtitle-light: rgb(128, 110, 96); /* Ajustado para melhorar o contraste */
  --color-hr-light: rgb(209, 198, 180); 
  
  --color-fill-dark: rgb(33, 39, 55); 
  --color-text-base-dark: rgb(243, 238, 234);
  --color-subtitle-dark: rgb(189, 155, 123); /* Ajustado para melhorar o contraste */
  --color-hr-dark: rgb(94, 81, 71); 
}

[data-theme="dark"] {
  --background: var(--color-fill-dark);
  --foreground: var(--color-text-base-dark);
  --subtitle: var(--color-subtitle-dark);
  --hr: var(--color-hr-dark)
}

[data-theme="light"] {
  --background: var(--color-fill-light);
  --foreground: var(--color-text-base-light);
  --subtitle: var(--color-subtitle-light);
  --hr: var(--color-hr-light)
}

* {
  color: var(--color-text-base-light) ;
}

:root {
  background-color: var(--color-fill-light);
  display: flex;
  justify-content: center;
}

body {
  /* background-color: rgb(20, 20, 12); */
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  max-width:840px;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 10;
  /* background-color: aqua; */
  font-size: 20px;
}