/*************************************************/
/*********************NAVBAR***********************/
/*************************************************/

.navbar_container {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: center;
  height: 170px;
}

@media (max-width: 800px) {
  .navbar_container {
    height: auto;
    padding-top: 30px;
  }
}

.navbar {
  /* background-color: rgb(240, 164, 78); */
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 840px;
}

@media (max-width: 800px) {
  .navbar {
    flex-wrap: wrap-reverse;
  }
}

.input_container {
  /* background-color: bisque; */
  display: flex;
  justify-content: left;
}

@media (max-width: 800px) {
  .input_container {
    height: 100px;
    justify-content: center;
    width: 100%
  }
}

.input {
  border-radius: 10rem;
  border: none;
  padding: 12px 28px;
  height: 55px;
  align-self: center;
  justify-content: center;
  font-size: 18px;
  color: var(--foreground);
  outline: none; 
  background-color: var(--button);
  width: 300px;
  z-index: 999;
}

.input::placeholder {
  color: var(--foreground); 
}

@media (max-width: 800px) {
  .input {
    height: 45px;
    padding-right: 0px;
  }
}

.buttons_container {
  /* background-color: rgb(123, 255, 0); */
  width: 100%;  
  height: 100%;
}

.button_sup {
  /* background-color: blueviolet; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

@media (max-width: 800px) {
  .button_sup {
    justify-content: center;
    height: 70px;
  }
}

.button_title {
  border: none;
  background-color:var(--background); 
  font-size: 35px;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  min-width: 300px;
  height: fit-content;
}

@media (max-width: 800px) {
  .button_title {
    justify-content: center;
    margin-bottom: 10px;
  }
}

.index_tabs {
  /* background-color: aquamarine; */
  padding: 10px;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: right;
}

.index_tabs_container {
  background-color: var(--button);
  width: 300px;
  display: flex;
  justify-content: space-around;
  padding: 3px;
  border-radius: 4rem;
  /* width: 200px; */
}

.index_tabs_container .index_tabs_button:hover {
  background-color: var(--foreground)!important;
  color: var(--background)!important;
}

.index_tabs_button {
  background-color: var(--button);
  border: none;
  border-radius: 1rem;
  height: 30px;
  width: 70px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}

.index_tabs_button.active {
  background-color: var(--foreground);
  color:var(--background);
}

.index_tabs_button.inactive {
  background-color: var(--button);
  color:var(--foreground);
}

@media (max-width: 800px) {
  .index_tabs {
    justify-content: center;
    gap: 20px;
  }
}

/*************************************************/
/*********************MAIN************************/
/*************************************************/

.main {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;  
}

.panel {
  /* background-color: rgb(180, 206, 197); */
  max-width:840px;
  min-width:801px;
  min-height: calc(100dvh - 400px);
  border-radius: 0.4rem;
  box-shadow: var(--largeshadow);
}

@media (max-width: 800px) {
  .panel {
    /* background-color: #4a8df8; */
    min-height: calc(100dvh - 450px);
    margin-top: 15px;
    min-width: 100%
  }
}

.subpanel {
  margin: 20px;
  margin-top: 25px;
}

.references, .warning {
  /* background-color: aquamarine; */
  margin-top: 20px;
  margin-inline: 20px;
  font-size: small;
}

.foundedVerb, .notFoundedVerb {
  /* background-color: aqua; */
  margin-inline: 10px;
}

.gotohome {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.knowmore {
  margin-top:20px;
  margin-bottom:20px;
}

.install {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .knowmore {
    display: flex;
    justify-content: center;
  }
}

.similarButton {
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.lascou {
  display: flex;
  flex-direction: column;
}

.lascou_suggestion {
  margin-bottom: 30px;
}

.lascou_foot {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.suggestion_Button > div {
  display: inline-flex;
}

.suggestion_Button > div > button {
  margin: 5px;
}

.tooltip {
  max-width: 300px;
  border: solid 1px rgb(0, 0, 0);
  border-radius: 0.3rem;
  padding: 10px;
  font-size: 12px;
}

/*PROGRESS*/

.progress_container {
  /* background-color: aqua; */
  height: 1.5px;
  margin-inline: 5px;
}

.punctButton {
  margin-top: 30px;
}

/******************************************************/
/*********************FOOT_INFO************************/
/******************************************************/

.foot_info {
  /* background-color: #4a8df8; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.foot_info_div {
  /* background-color: #4a8df8; */
  height: 25px;
}