/*************************************************/
/*********************NAVBAR***********************/
/*************************************************/

.navbar_container {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  justify-content: center;
  height: 170px;
}

@media (max-width: 800px) {
  .navbar_container {
    height: auto;
    padding-top: 15px;
  }
}

.navbar {
  /* background-color: rgb(240, 164, 78); */
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 840px;
}

@media (max-width: 800px) {
  .navbar {
    flex-wrap: wrap-reverse;
  }
}

.input_container {
  /* background-color: bisque; */
  display: flex;
  justify-content: left;
  width: 100%;
}

@media (max-width: 800px) {
  .input_container {
    height: 100px;
    justify-content: center;
  }
}

.input {
  border-radius: 10rem;
  border: none;
  padding: 12px 28px;
  height: 55px;
  align-self: center;
  justify-content: center;
  font-size: 18px;
  color: var(--foreground);
  outline: none; 
  box-shadow: var(--largeshadow);
  width: 300px;
}

.input::placeholder {
  color: var(--foreground); 
}

@media (max-width: 800px) {
  .input {
    height: 45px;
    padding-right: 0px;
  }
}

.buttons_container {
  /* background-color: rgb(123, 255, 0); */
  width: 100%;
  height: 100%;
}

.button_sup {
  /* background-color: blueviolet; */
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

@media (max-width: 800px) {
  .button_sup {
    justify-content: center;
    height: 60px;
  }
}

.button_title {
  border: none;
  background-color:var(--background); 
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 900;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: right;
  min-width: 300px;
  height: fit-content;
}

@media (max-width: 800px) {
  .button_title {
    justify-content: center;
  }
}

.button_inf {
  /* background-color: aquamarine; */
  height: 45%;
  padding-top: 8px;
  display: flex;
  justify-content: right;
  gap: 10px;
}

@media (max-width: 800px) {
  .button_inf {
    justify-content: center;
    gap: 20px;
  }
}

.button_about {
  background-color: var(--background);
  border: none;
  height: 25px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
}

/*************************************************/
/*********************MAIN************************/
/*************************************************/

.main {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
}

.panel {
  /* background-color: rgb(180, 206, 197); */
  width:800px;
  min-height: 300px;
  padding: 20px;
  border-radius: 0.4rem;
  box-shadow: var(--largeshadow);
}

@media (max-width: 800px) {
  .panel {
    margin-top: 20px;
  }
}

.subpanel {
  width: 100%;
}

.references, .warning {
  /* background-color: aquamarine; */
  margin-top: 20px;
  margin-inline: 20px;
  font-size: small;
}

.foundedVerb, .notFoundedVerb {
  background-color: aqua;
  margin-inline: 10px;
}

.gotohome {
  display: flex;
  justify-content: center;
  padding: 30px;
}

/******************************************************/
/*********************FOOT_INFO************************/
/******************************************************/

.foot_info {
  padding-top: 20px;
}



