/*************************************************/
/*********************NAVBAR***********************/
/*************************************************/

.navbar {
  background-color: aqua;
  height: 130px;
  display: flex;
  justify-content: space-between;
  position:fixed;
  width: 100%;
}

.input_container {
  background-color: aquamarine;
  /* justify-content: center; */
  display: flex;
  margin-left: 100px;
}

.input {
  /* background-color: rgb(219, 209, 230); */
  border-radius: 10rem;
  border: none;
  padding: 28px;
  height: 20px;
  align-self: center;
  justify-content: center;
  /* margin-left: 20px; */
  font-size: 18px;
}

/*************************************************/
/*********************MAIN***********************/
/*************************************************/

.main {
  /* background-color: aquamarine; */
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.panel {
  /* background-color: rgb(180, 206, 197); */
  width: 800px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.subpanel {
  /* background-color: rgb(51, 97, 82) */
}

.antesala2_weigth {
  font-style: italic;
  font-weight: 800;
}