/*************************************************/
/*********************NAVBAR***********************/
/*************************************************/

.navbar_container {
  /* display: flex; */
  /* justify-content: center; */
  background-color: aqua;
}

.navbar {
  /* background-color: rgb(240, 164, 78); */
  height: 130px;
  display: flex;
  justify-content: space-between;
  position:fixed;
  width: 800px;
}

.input_container {
  /* background-color: rgb(221, 204, 199); */
  /* justify-content: center; */
  display: flex;
}

.input {
  border-radius: 10rem;
  border: none;
  padding: 28px;
  height: 20px;
  align-self: center;
  justify-content: center;
  font-size: 18px;
  outline: none; /* Remove a borda padrão do foco */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* .input:focus {
  outline: 2px solid #6a0dad; 
  box-shadow: 0 0 5px 2px #6a0dad; 
} */



/*************************************************/
/*********************MAIN************************/
/*************************************************/

.main {
  /* background-color: aquamarine; */
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.panel {
  /* background-color: rgb(180, 206, 197); */
  width: 800px;
  min-height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/******************************************************/
/*********************FOOT_INFO************************/
/******************************************************/

.foot_info {
  padding-top: 20px;
}



